.navbar{
    height: 50px;
    background-color: #2d2d2e;
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    font-weight: 500;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.navButton{
    margin-left: 20px;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: #696767;
}
.username{
    color: white;
    margin-left: 20px;
    border: none;
    padding: 8px;
    cursor: pointer;
}